html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
/* linear-gradient(
    283.91deg,
    #39102e 1.03%,
    #674f9a 44.14%,
    #81286d 72.38%,
    #c66f6f 99.58%
  ); */